<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Edit Post</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
              <li class="breadcrumb-item active">Post</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-8 mx-auto">
            <!-- jquery validation -->
            {{!-- <div class="card card-primary"> --}}
              {{> messages}}
              <!-- /.card-header -->
              <!-- form start -->
              <form action="/post/update/{{post.id}}" method="POST">
                
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="post_title" id="title" placeholder="Enter The Title" value="{{post.postName}}">
                </div>
                
                {{!-- <div class="form-group">
                    <label for="file">File Upload</label>
                    <input type="file" class="form-control" id="file" name="uploadedFile"  accept="image/jpeg, image/jpg, image/png, image/bmp">
                </div> --}}

                {{!-- <div class="form-group">
                    <label for="status">Status</label>
                    <select name="status" id="status" class="form-control">
                        <option value="public">Public</option>
                        <option value="private">Private</option>
                        <option value="draft">Draft</option>
                    </select>
                </div> --}}

                <div class="form-group">
                    <label for="file-upload">Upload Image</label>
                    <img src="{{post.postImage}}" width="100" height="100" alt="" srcset="">
                    <input type="file" class="form-control-file" name="post_image" id="file-upload" value="{{this.postImage}}" >
                </div>


                <div class="form-group">
                    <label for="category">Category</label>
                    <select name="post_category" id="category" class="form-control">
                      <option value="{{post.postCategory.id}}"selected>{{post.postCategory.categoryName}}</option>
                        {{#each categories}}
                            <option value="{{this.id}}">{{this.categoryName}}</option>    
                        {{/each}}
                                             
                    </select>
                </div>
                
               <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="featuredCheck1"  name="featured_Post" value="{{post.allowFeatured}}" {{#if allowFeatured}}checked{{/if}}>
                    <label class="form-check-label" for="exampleCheck1">Featured Post</label>
                  </div>
                
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea name="post_content" id="content" class="form-control" placeholder="Enter your content here" rows="10">{{post.postContent}}</textarea>
                </div>
                
                
                <button class="btn btn-primary" type="submit">Create Post</button>
                
                
            </form>
            </div>
            <!-- /.card -->
            {{!-- </div> --}}
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
